﻿@model PosCloudAdminPanel.Core.ViewModel.ComplaintReplyViewModel
@{
    ViewData["Title"] = "AddComplaintReply";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

<h2>AddComplaintReply</h2>

<p>@Model.ComplaintId</p>