﻿@model PosCloudAdminPanel.Core.ViewModel.ComplaintViewModel 

@{
    ViewData["Title"] = "AddComplaint";
    
}


<div class="container col-md-8 col-md-offset-2">
    <div class="card mt-5" style="">
        <div class="card-header border">
            <b class="link-size">Client Complaint Area</b> 
            <a href="@Url.Action("ComplaintList", "Complaint")">

                <span class="fa fa-list fa-2x text-success" style="float: right"></span>

            </a>
        </div>
        <div class="card-body">
            
            <form method="post" enctype="multipart/form-data" asp-controller="Complaint" asp-action="AddComplaint">
                <input asp-for="ComplaintId" type="hidden"/>
                <input asp-for="UserId" type="hidden"/>
                <input asp-for="ParentComplaintId" type="hidden"/>
                <input asp-for="CreatedBy" type="hidden"/>
                <input asp-for="CreatedOn" type="hidden"/>
                <input asp-for="Image" type="hidden"/>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Subject" class="control-label"></label>


                    <input asp-for="Subject" class="form-control" required="true" placeholder="Enter Subject"/>
                    <span asp-validation-for="Subject" class="text-danger"></span>

                    <label asp-for="Message" class="control-label"></label>
                    <textarea asp-for="Message" class="form-control" rows="10" cols="20" type="text" placeholder="Please add your complaint here"></textarea>
                    <span asp-validation-for="Message" class="text-danger"></span>

                </div>

                <div class="form-group">
                    <label asp-for="Image" class="control-label"> Attachments</label>
                    <input type="file" asp-for="ImageUpload" multiple/>
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-success"><span class="fa fa-send"></span> Send</button>
                    <button type="reset" class="btn btn-warning"><span class="fa fa-refresh"></span> Clear</button>


                </div>
            </form>
        </div> 
    </div>
</div>



