﻿@using PosCloudAdminPanel.Core.Model
@model IEnumerable<PosCloudAdminPanel.Core.ViewModel.ComplaintViewModel>
@{
    ViewData["Title"] = "ComplaintList";
}


<h2>Complaint List</h2>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">User</th>
                            <th class="text-center">Complaint Id</th>
                            <th class="text-center">Complaint Type</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Message</th>
                            <th class="text-center">Attachments</th>
                            <th class="text-center"></th>
                        </tr>
                        @{ int i = 1;}
                        @foreach (var client in Model)
                        {
                        <tr>
                            <td class="text-center">@(i++)</td>
                            <td class="text-center">@client.UserId</td>
                            <td class="text-center">@client.ComplaintId</td>
                            <td class="text-center">@client.ComplaintType</td>
                            <td class="text-center">@client.ComplaintStatus</td>
                            <td class="text-center">@client.Message</td>
                            <td class="text-center">
                                @if (client.Image != null)
                                {
                                    var base64 = Convert.ToBase64String(client.Image);
                                    var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                                    <img src='@imgsrc' style="width:50px;height:50px" />
                                }
                            </td>
                            <td class="text-center"><a href="@Url.Action("ViewComplaint","Complaint",new{id=client.ComplaintId})" class="btn btn-warning btn--small"><span class="fa fa-eye"></span> View</a></td>


                        </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




