﻿@using PosCloudAdminPanel.Core.Model
@model PosCloudAdminPanel.Core.ViewModel.ComplaintDisplayViewModel
@{
    ViewData["Title"] = "ViewComplaint";
}
@*client Area*@

<div class="container col-md-8 col-md-offset-2">
    
    <h3><strong class="font-weight-bold">View Complaint</strong></h3>
    <hr/>
    <div class="row" style="background-color: #def6de; padding: 8px; border-bottom: #c5e8c5 solid">
        <div class="col-lg-12">

            <span class="fa fa-pencil font-weight-bold text-success"> Reply</span>
            <a class="pull-right fa fa-plus" data-toggle="collapse" data-target="#cml" style="padding: 5px"></a>
        </div>
    </div>
    <div class="collapse" id="cml">
        @{ Html.RenderPartial("AddComplaintPartial",Model.Model);}
        @*<partial name="~/Areas/Client/Views/Complaint/AddComplaintPartial.cshtml" />*@
    </div>
                       
                   
                
            
        
</div>
<div class="container col-md-8 col-md-offset-2" style="border:#c5e8c5 1px solid">
    
    <div class="row ">        
        <div class="col-xs-8 p-l-10">
            <div class="col-xs-4 col-md-1 pl-0">
                <i class="fa fa-user fa-4x"></i>
            </div>
            <div class="col-md-11 col-xs-8">
                <h5>@Model.ComplaintViewModel.User</h5>
                <h5 class="font-weight-bold">Staff</h5>
            </div>
        </div>
        <div class="col-xs-4">
            <h5 class="text-right">@Model.ComplaintViewModel.Date.ToString("dd-MMM-yy hh-mm-ss")</h5>
        </div>

        <div class="col-xs-12">
                      
            <h3 class="text-danger font-weight-bold">@Model.ComplaintViewModel.Subject</h3>
            <p>@Model.ComplaintViewModel.Message</p>

        </div>
    </div>
</div>

<div class="container col-md-8 col-md-offset-2">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h3 class="font-weight-bold"><strong>Replies</strong></h3>
        </div>
        </div>
    
   
        
    @foreach (var reply in Model.ComplaintReplies.OrderByDescending(a => a.Date))
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="panel">
                    <div class="row" style="background-color: #def6de;border-bottom: 1px #c5e8c5 solid">
                    <div class="col-xs-8">
                        <div class="col-xs-4 col-md-1  pl-0 pr-0">
                            <i class="fa fa-user fa-2x"></i>
                        </div>
                        <div class="col-md-11 col-xs-8 pl-0">
                            <h5 class="mt-0 mb-0">@reply.User</h5>
                            <h5 class=" mt-0 mb-0 font-weight-bold">Waqar</h5>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <h5 class="text-right">@reply.Date.ToString("dd-MMM-yy hh:mm tt")</h5>
                    </div>
                    </div>
                    <div class="col-xs-12">
                        <strong class="text-danger">@reply.Subject</strong>
                        <div>@reply.Message</div>
                    </div>

                </div>





            </div>
        </div>
    }

</div>