﻿@using PosCloudAdminPanel.Core.Model
@using PosCloudAdminPanel.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cosmic</title>
    <meta name="description" content="cosmic is the smart POS system to help you manage food orders, ingredient inventories and timesheets for restaurants,beauty salon, cafes and QSRs."/> 
	<meta name="keywords" content="restaurants,best restaurant, restaurant near to me, online food ordering,clothing stores,best clothing store, dresses,cloths,jackets,shoes,outlet store,super store,ladies store,online shopping,online store,garments store, best store, beautiful cloths,cheap store,cheap restaurant,beauty saloon,best saloon, cheap saloon, saloon near to me, pos saloon, pos restaurant, pos super store, point of sale, best point of sale, cloud based pos, cloud based point of sale,general store,general store near me,nearest convenience store,stores near me,best grocery stores,nearest grocery store,nearest supermarket,supermarket,supermarket near me,retail stores,hair salons near me,barber shop near me,beauty salon,online management system,online inventory management system,inventory management,product,product management,employee management,purchase management,stock management,timesheet,staff management,mobile pos,super pos,online management,cosmicpos,cosmic pos, cosmic point of sale,best pos online,pakistan best point of sale cosmicpos,top point of sale,point of sale companies in pakistan,pos software pakistan,point of sale software,pos system,cloud pos pakistan,pos solution,best pos in pakistan,restaurant software pakistan,pos software,pos inventory system small business pakistan,retail solutions pakistan,point of sale companies,point of sale software,pos system,cloud pos,pos solution,restaurant software,pos inventory system small business,retail solutions,pos inventory system small business">
    <meta property="og:locale" content="en_US" /> 
    <meta property="og:type" content="website" /> 
    <meta property="og:title" content="iPad, Android POS System for Restaurants, Cafes &amp; QSRs | cosmic" /> 
    <meta property="og:description" content="cosmic is the smart POS system to help you manage food orders, ingredient inventories and timesheets for restaurants, cafes and QSRs." /> 
    <meta property="og:url" content="index.html" /> 
    <meta property="og:site_name" content="cosmic" /> 
    <meta name="twitter:card" content="summary_large_image" /> 
    <meta name="twitter:description" content="cosmic is the smart POS system to help you manage food orders, ingredient inventories and timesheets for restaurants, beauty salon, cafes and QSRs. Click to learn more." />
    <meta name="twitter:title" content="iPad POS System for Restaurants, Cafes &amp; QSRs | cosmic" /> 
    <meta name="twitter:site" content="@@cosmic" /> 
    <meta name="twitter:creator" content="@@cosmic" />
    
    <environment include="Development">

        <link rel='dns-prefetch' href='https://fonts.googleapis.com/' />
        <style id='woocommerce-inline-inline-css' type='text/css'>
            .woocommerce form .form-row .required {
                visibility: visible;
            }
        </style>

        @*<link href="~/css/style.css" rel="stylesheet">
        <link href="~/css/MyStyle.css" rel="stylesheet">*@
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel='stylesheet' id='bcct_style-css' href='/site/plugins/better-click-to-tweet/assets/css/styles6aec.css?ver=3.0' type='text/css' media='all' />
        <link rel='stylesheet' id='woocommerce-layout-css' href='/site/plugins/woocommerce/assets/css/woocommerce-layout4c8b.css?ver=3.4.5' type='text/css' media='all' />
        <link rel='stylesheet' id='woocommerce-smallscreen-css' href='/site/plugins/woocommerce/assets/css/woocommerce-smallscreen4c8b.css?ver=3.4.5' type='text/css' media='only screen and (max-width: 768px)' />
        <link rel='stylesheet' id='woocommerce-general-css' href='/site/plugins/woocommerce/assets/css/woocommerce4c8b.css?ver=3.4.5' type='text/css' media='all' />
        <link rel='stylesheet' id='ulp-css' href='/site/plugins/layered-popups/css/style.mindfde.css?ver=6.42' type='text/css' media='all' />
        <link rel='stylesheet' id='ulp-link-buttons-css' href='/site/plugins/layered-popups/css/link-buttons.mindfde.css?ver=6.42' type='text/css' media='all' />
        <link rel='stylesheet' id='animate.css-css' href='/site/plugins/layered-popups/css/animate.mindfde.css?ver=6.42' type='text/css' media='all' />
        <link rel='stylesheet' id='spinkit-css' href='/site/plugins/layered-popups/css/spinkit.mindfde.css?ver=6.42' type='text/css' media='all' />
        <link rel='stylesheet' id='ebor-google-font-css' href='https://fonts.googleapis.com/css?family=Open+Sans%3A200%2C300%2C400%2C400i%2C500%2C600%2C700%7CMerriweather%3A300%2C300i%7CMaterial+Icons&amp;ver=0.1' type='text/css' media='all' />
        <link rel='stylesheet' id='bootstrap-css' href='/site/themes/stack/style/css/bootstrapb3e8.css?ver=0.1' type='text/css' media='all' />
        <link rel='stylesheet' id='ebor-icons-css' href='/site/themes/stack/style/css/iconsb3e8.css?ver=0.1' type='text/css' media='all' />
        <link rel='stylesheet' id='ebor-plugins-css' href='/site/themes/stack/style/css/pluginsb3e8.css?ver=0.1' type='text/css' media='all' />
        <link rel='stylesheet' id='ebor-theme-css' href='/site/uploads/wp-less/stack/style/css/theme-fd71e8a7d4.css' type='text/css' media='all' />
        <link rel='stylesheet' id='ebor-style-css' href='/site/themes/cosmic/cosmicstyle.css?ver=0.1' type='text/css' media='all' />
        <link rel='stylesheet' id='ebor-iconsmind-css' href='/site/themes/stack/style/css/iconsmindb3e8.css?ver=0.1' type='text/css' media='all' />
        <link rel="icon" href="/site/uploads/2018/06/cosmicfavi.png" sizes="32x32" />
        <link rel="icon" href="/site/uploads/2018/06/android-icon-192x192.png" sizes="192x192" />
        <link rel="apple-touch-icon-precomposed" href="/site/uploads/2018/06/apple-icon-180x180.png" />
      
        <link href="/icons/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <style>
          
            /* gravity form */
            body .gform_wrapper .gform_footer input[type=submit] {
                color: #fff;
                font-weight: 600;
                text-transform: uppercase;
                text-align: center;
                padding: 10px 50px !important;
            }

            /* home */
            .home .cover,
            .home .slider {
                max-height: 600px;
            }

            /* top bar */
            .nav-container a,
            .nav-container i {
                color: #3f3f3e;
                text-decoration: none;
            }

            /* header */
            .bar .logo {
                margin-top: -5px;
                max-height: 2.85714286em;
            }

            .bar__module .dropdown__content {
                border-radius: 0 !important;
            }

            #menu1 .btn {
                background-color: #309ddc;
                border-color: #309ddc;
            }

            .menu-flag {
                max-width: 25px;
            }

                .menu-flag a {
                    opacity: 1 !important;
                }

            .header--top-bar .dropdown .dropdown__trigger {
                opacity: .5 !important;
            }

            /* product tour */
            .triptych.border--round img:nth-child(2) {
                border-radius: 17px;
            }

            /* features */
            #features-nav {
                z-index: 99;
                text-align: center;
            }


                #features-nav.is_stuck {
                    background-color: #fff;
                    padding-top: 20px;
                    padding-bottom: 10px;
                    text-align: center;
                    position: absolute;
                    width: 100% !important;
                    left: 0;
                    top: 0;
                }

            .page-id-34 .smooth-scroll {
                background-color: #f2f2f2;
                font-weight: 300;
                text-decoration: none;
                padding: 8px 20px;
                border: 1px solid #f2f2f2;
                border-radius: 5px;
                margin: 0px 4px 10px;
                display: inline-block;
            }

            .page-id-34 .main-container section {
                margin-top: 40px;
            }

            .page-id-34 section:nth-child(2) {
                padding-bottom: 0;
            }

            /* case studies */
            .page-id-35 .imageblock {
                border-top: 1px solid #f2f2f2;
            }

            /* partners */
            .page-id-106 .masonry-filter-container {
                display: none;
            }

            /* careers */
            .post-type-archive-career .main-container section:nth-child(2) {
                display: none;
            }

            .single-career .main-container section:nth-child(2) {
                padding-top: 100px !important;
                background-color: #f5f5f5;
            }

            /* footer */
            .footer-6 #media_image-2 img {
                width: 140px;
            }
            /* general */
            .check:before {
                content: url('site/themes/cosmic/img/check.svg');
                width: 30px;
                float: left;
                margin: 0 10px 20px 0;
            }

            .feature-large .box-shadow-wide {
                box-shadow: none;
            }

            .cosmic-separator {
                height: 3px;
                display: block;
                margin: 5px 0 20px;
                max-width: 200px;
                background: rgba(194,240,57,1);
                background: -moz-linear-gradient(left, rgba(194,240,57,1) 0%, rgba(109,179,43,1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(194,240,57,1)), color-stop(100%, rgba(109,179,43,1)));
                background: -webkit-linear-gradient(left, rgba(194,240,57,1) 0%, rgba(109,179,43,1) 100%);
                background: -o-linear-gradient(left, rgba(194,240,57,1) 0%, rgba(109,179,43,1) 100%);
                background: -ms-linear-gradient(left, rgba(194,240,57,1) 0%, rgba(109,179,43,1) 100%);
                background: linear-gradient(to right, rgba(194,240,57,1) 0%, rgba(109,179,43,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2f039', endColorstr='#6db32b', GradientType=1 );
            }

                .cosmic-separator.centered {
                    margin-left: auto;
                    margin-right: auto;
                }

            /* integrations */
            .page-id-3032 .masonry-filter-container {
                display: none;
            }

            /* nexo landing */
            .page-id-2897 .cover.hidden-xs {
                padding-bottom: 80px !important;
            }

            .page-id-2897 .cover.hidden-lg .box-shadow-wide {
                box-shadow: none !important;
            }

            .page-id-2897 .cover.hidden-lg img.box-shadow-wide,
            .page-id-2897 .cover.hidden-lg .typed-text {
                display: none;
            }

            @@media (max-width: 767px) {

                .page-id-2897 .cover.height-80 .btn {
                    font-size: 0.9em;
                }

                .page-id-2897 .imageblock > .container, .imageblock > div[class*='col-']:not(.imageblock__content) {
                    padding-top: 20px;
                    padding-bottom: 0;
                }

                .page-id-2897 section,
                .page-id-2897 footer, section.section--even {
                    padding: 2em 0;
                }

                .page-id-2897 .cover .typed-headline {
                    margin-bottom: 0em;
                }
            }

            /* top bar */
            .nav-container a,
            .nav-container i {
                color: #3f3f3e;
                text-decoration: none;
            }

            /* intagrations */
            .masonry .product span:nth-child(2) {
                display: none;
            }

            /* modals */
            .all-page-modals .modal-content {
                width: 99% !important;
                /*height: 99%!important;*/
                max-height: 99% !important;
            }

                .all-page-modals .modal-content .container {
                    width: 100% !important;
                    padding: 20px 0 !important;
                }

                .all-page-modals .modal-content .imageblock .background-image-holder {
                    background-position: center bottom !important;
                    z-index: -1;
                    opacity: 0.4 !important;
                }

                .all-page-modals .modal-content .imageblock__content {
                    background-color: #000;
                }

            .modal-text-image {
                position: absolute;
                bottom: 60px;
                left: 60px;
            }

                .modal-text-image h3,
                .modal-text-image p {
                    color: #fff;
                }

                .modal-text-image h3 {
                    font-size: 2.2em;
                }

                .modal-text-image p.t-feature {
                    margin-bottom: 0;
                    margin-left: -12px;
                    font-size: 1.3em;
                    font-weight: bold;
                }

                .modal-text-image p.t-feature-comment {
                    color: #f2f2f2;
                    font-size: 0.9em;
                }

                .modal-text-image p.t-feature .green {
                    color: #8caf4f;
                }

            .modal-container .modal-content > .modal-close-cross {
                top: 2em;
                right: 2em;
                background: #222;
                width: 2em;
                height: 2em;
                text-align: center;
                border-radius: 50%;
                color: #fff;
            }

            .all-page-modals .modal-content .col-md-4 {
                padding: 50px 40px;
            }

            /*#input_9_15_6_container input {
                background: url("/site/uploads/2018/08/user.png");
                background-repeat: no-repeat;
                background-color: #fff;
                background-position: 95% 50%;
            }*/

            .all-page-modals .modal-content h2,
            .all-page-modals .modal-content p {
                margin-bottom: 8px;
            }

            .all-page-modals #gform_wrapper_9 .gfield,
            .all-page-modals #gform_wrapper_9 .ginput_complex input {
                padding: 0;
                margin: 0;
            }

            .all-page-modals #gform_wrapper_9 .gform_body input {
                padding: 25px !important;
                z-index: -99999999;
                border: 2px solid #d1d1d1;
            }

            .all-page-modals #gform_wrapper_9 .gform_footer input.button {
                width: 100%;
                height: 60px;
                border: 3px solid #8caf4f;
            }

            .all-page-modals #gform_wrapper_9 .validation_error {
                display: none;
            }

            .all-page-modals #gform_wrapper_9 img.gform_ajax_spinner {
                display: none !important;
            }

            .all-page-modals #gform_wrapper_9 li.gfield.gfield_error, .all-page-modals #gform_wrapper_9 li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
                background: none !important;
                border: none !important;
                margin: 0 !important;
            }

                .all-page-modals #gform_wrapper_9 li.gfield.gfield_error input, .all-page-modals #gform_wrapper_9 li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning input {
                    border: 2px solid #c23616 !important;
                }

            /* home */
            .home .feature.feature-3 {
                min-height: 320px;
                padding: 1.5em 1em 1em;
            }

            /* about us */
            .process-1:before {
                background: #309ddc;
            }

            .process__item:after {
                border: 2px solid #309ddc;
            }

            /* footer */
            .mobile-footer-cta {
                position: fixed;
                padding: 12px 0px;
                width: 100%;
                bottom: 0;
                background: #fff;
                -webkit-box-shadow: 0px -1px 37px -7px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px -1px 37px -7px rgba(0,0,0,0.75);
                box-shadow: 0px -1px 37px -7px rgba(0,0,0,0.75);
                z-index: 999999;
            }

                .mobile-footer-cta .cta-col {
                    display: block;
                    float: left;
                    width: 50%;
                    text-align: center;
                    font-size: 0.8em;
                    background: #fff;
                }

                .mobile-footer-cta a.cta-video-link {
                    color: #999;
                    text-decoration: none;
                    margin-top: 14px;
                    display: block;
                    text-transform: uppercase;
                }

                    .mobile-footer-cta a.cta-video-link i {
                        font-weight: 900;
                        margin-right: 4px;
                    }

                .mobile-footer-cta a.btn {
                    padding: 14px 22px;
                }

            /* hide on specific pages */
            .page-id-2674 .mobile-footer-cta,
            .page-id-2897 .mobile-footer-cta,
            .page-id-108 .mobile-footer-cta {
                display: none;
            }

            /* responsive */
            @@media (min-width: 600px) {

                .mobile-footer-cta {
                    display: none;
                }
            }

            @@media (min-width: 650px) {


                .all-page-modals #input_9_15_3_container {
                    padding-right: 0;
                }

                .all-page-modals #input_9_15_6_container {
                    padding-right: 0;
                    margin-left: -14px;
                }

                    .all-page-modals #input_9_15_6_container input {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        border-left-width: 1px !important;
                    }
            }

            @@media (max-width: 989px) {
                /*.all-page-modals .imageblock,   .all-page-modals .imageblock__content {
                    min-height: 28em;
                    display:none;
              }

                .modal-text-image h3 {
                  font-size: 1.6em;
              }

              .modal-text-image {
                  bottom: 20px;
                  left: 20px;
              }*/
                .all-page-modals .imageblock__content {
                    display: none;
                }

                #input_9_15_3_container {
                    margin-bottom: 11px;
                }

                #input_9_15_6_container {
                    margin-bottom: -1px;
                }
            }

            @@media (max-width: 600px) {
                .gform_wrapper {
                    padding: 10px;
                }
            }

            .post-2797 {
                clear: both;
            }

            .post-2793 {
                clear: both;
            }

            .post-2789 {
                clear: both;
            }

            .imageblock .cf7-holder {
                display: none;
            }

            .gform_wrapper label.gfield_label {
                font-weight: 400;
            }

            .gform_wrapper .gsection .gfield_label, .gform_wrapper h2.gsection_title, .gform_wrapper h3.gform_title {
                font-weight: 400;
            }

            .btn:hover {
                transform: translate3d(0, -2px, 0);
                -webkit-transform: translate3d(0, 0px, 0);
            }

            .wp-image-532 {
                height: 100.33px;
            }

            .label--inline {
                vertical-align: middle;
                line-height: inherit;
            }
        </style>
    </environment>
    <environment exclude="Development">
        @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />*@
        <link rel='dns-prefetch' href='https://fonts.googleapis.com/' />
        <style id='woocommerce-inline-inline-css' type='text/css'>
            .woocommerce form .form-row .required {
                visibility: visible;
            }
        </style>

        @*<link href="~/css/style.css" rel="stylesheet">
        <link href="~/css/MyStyle.css" rel="stylesheet">*@
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel='stylesheet' id='bcct_style-css' href='/site/plugins/better-click-to-tweet/assets/css/styles6aec.css?ver=3.0' type='text/css' media='all' />
        <link rel='stylesheet' id='woocommerce-layout-css' href='/site/plugins/woocommerce/assets/css/woocommerce-layout4c8b.css?ver=3.4.5' type='text/css' media='all' />
        <link rel='stylesheet' id='woocommerce-smallscreen-css' href='/site/plugins/woocommerce/assets/css/woocommerce-smallscreen4c8b.css?ver=3.4.5' type='text/css' media='only screen and (max-width: 768px)' />
        <link rel='stylesheet' id='woocommerce-general-css' href='/site/plugins/woocommerce/assets/css/woocommerce4c8b.css?ver=3.4.5' type='text/css' media='all' />
        <link rel='stylesheet' id='ulp-css' href='/site/plugins/layered-popups/css/style.mindfde.css?ver=6.42' type='text/css' media='all' />
        <link rel='stylesheet' id='ulp-link-buttons-css' href='/site/plugins/layered-popups/css/link-buttons.mindfde.css?ver=6.42' type='text/css' media='all' />
        <link rel='stylesheet' id='animate.css-css' href='/site/plugins/layered-popups/css/animate.mindfde.css?ver=6.42' type='text/css' media='all' />
        <link rel='stylesheet' id='spinkit-css' href='/site/plugins/layered-popups/css/spinkit.mindfde.css?ver=6.42' type='text/css' media='all' />
        <link rel='stylesheet' id='ebor-google-font-css' href='https://fonts.googleapis.com/css?family=Open+Sans%3A200%2C300%2C400%2C400i%2C500%2C600%2C700%7CMerriweather%3A300%2C300i%7CMaterial+Icons&amp;ver=0.1' type='text/css' media='all' />
        <link rel='stylesheet' id='bootstrap-css' href='/site/themes/stack/style/css/bootstrapb3e8.css?ver=0.1' type='text/css' media='all' />
        <link rel='stylesheet' id='ebor-icons-css' href='/site/themes/stack/style/css/iconsb3e8.css?ver=0.1' type='text/css' media='all' />
        <link rel='stylesheet' id='ebor-plugins-css' href='/site/themes/stack/style/css/pluginsb3e8.css?ver=0.1' type='text/css' media='all' />
        <link rel='stylesheet' id='ebor-theme-css' href='/site/uploads/wp-less/stack/style/css/theme-fd71e8a7d4.css' type='text/css' media='all' />
        <link rel='stylesheet' id='ebor-style-css' href='/site/themes/cosmic/cosmicstyle.css?ver=0.1' type='text/css' media='all' />
        <link rel='stylesheet' id='ebor-iconsmind-css' href='/site/themes/stack/style/css/iconsmindb3e8.css?ver=0.1' type='text/css' media='all' />

        <link rel="icon" href="/site/uploads/2018/06/cosmicfavi.png" sizes="32x32" />
        <link rel="icon" href="/site/uploads/2018/06/android-icon-192x192.png" sizes="192x192" />
        <link rel="apple-touch-icon-precomposed" href="/site/uploads/2018/06/apple-icon-180x180.png" />
        <link href="/icons/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <style>

            /* gravity form */
            body .gform_wrapper .gform_footer input[type=submit] {
                color: #fff;
                font-weight: 600;
                text-transform: uppercase;
                text-align: center;
                padding: 10px 50px !important;
            }

            /* home */
            .home .cover,
            .home .slider {
                max-height: 600px;
            }

            /* top bar */
            .nav-container a,
            .nav-container i {
                color: #3f3f3e;
                text-decoration: none;
            }

            /* header */
            .bar .logo {
                margin-top: -5px;
                max-height: 2.85714286em;
            }

            .bar__module .dropdown__content {
                border-radius: 0 !important;
            }

            #menu1 .btn {
                background-color: #309ddc;
                border-color: #309ddc;
            }

            .menu-flag {
                max-width: 25px;
            }

                .menu-flag a {
                    opacity: 1 !important;
                }

            .header--top-bar .dropdown .dropdown__trigger {
                opacity: .5 !important;
            }

            /* product tour */
            .triptych.border--round img:nth-child(2) {
                border-radius: 17px;
            }

            /* features */
            #features-nav {
                z-index: 99;
                text-align: center;
            }


                #features-nav.is_stuck {
                    background-color: #fff;
                    padding-top: 20px;
                    padding-bottom: 10px;
                    text-align: center;
                    position: absolute;
                    width: 100% !important;
                    left: 0;
                    top: 0;
                }

            .page-id-34 .smooth-scroll {
                background-color: #f2f2f2;
                font-weight: 300;
                text-decoration: none;
                padding: 8px 20px;
                border: 1px solid #f2f2f2;
                border-radius: 5px;
                margin: 0px 4px 10px;
                display: inline-block;
            }

            .page-id-34 .main-container section {
                margin-top: 40px;
            }

            .page-id-34 section:nth-child(2) {
                padding-bottom: 0;
            }

            /* case studies */
            .page-id-35 .imageblock {
                border-top: 1px solid #f2f2f2;
            }

            /* partners */
            .page-id-106 .masonry-filter-container {
                display: none;
            }

            /* careers */
            .post-type-archive-career .main-container section:nth-child(2) {
                display: none;
            }

            .single-career .main-container section:nth-child(2) {
                padding-top: 100px !important;
                background-color: #f5f5f5;
            }

            /* footer */
            .footer-6 #media_image-2 img {
                width: 140px;
            }
            /* general */
            .check:before {
                content: url('site/themes/cosmic/img/check.svg');
                width: 30px;
                float: left;
                margin: 0 10px 20px 0;
            }

            .feature-large .box-shadow-wide {
                box-shadow: none;
            }

            .cosmic-separator {
                height: 3px;
                display: block;
                margin: 5px 0 20px;
                max-width: 200px;
                background: rgba(194,240,57,1);
                background: -moz-linear-gradient(left, rgba(194,240,57,1) 0%, rgba(109,179,43,1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(194,240,57,1)), color-stop(100%, rgba(109,179,43,1)));
                background: -webkit-linear-gradient(left, rgba(194,240,57,1) 0%, rgba(109,179,43,1) 100%);
                background: -o-linear-gradient(left, rgba(194,240,57,1) 0%, rgba(109,179,43,1) 100%);
                background: -ms-linear-gradient(left, rgba(194,240,57,1) 0%, rgba(109,179,43,1) 100%);
                background: linear-gradient(to right, rgba(194,240,57,1) 0%, rgba(109,179,43,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2f039', endColorstr='#6db32b', GradientType=1 );
            }

                .cosmic-separator.centered {
                    margin-left: auto;
                    margin-right: auto;
                }

            /* integrations */
            .page-id-3032 .masonry-filter-container {
                display: none;
            }

            /* nexo landing */
            .page-id-2897 .cover.hidden-xs {
                padding-bottom: 80px !important;
            }

            .page-id-2897 .cover.hidden-lg .box-shadow-wide {
                box-shadow: none !important;
            }

            .page-id-2897 .cover.hidden-lg img.box-shadow-wide,
            .page-id-2897 .cover.hidden-lg .typed-text {
                display: none;
            }

            @@media (max-width: 767px) {

                .page-id-2897 .cover.height-80 .btn {
                    font-size: 0.9em;
                }

                .page-id-2897 .imageblock > .container, .imageblock > div[class*='col-']:not(.imageblock__content) {
                    padding-top: 20px;
                    padding-bottom: 0;
                }

                .page-id-2897 section,
                .page-id-2897 footer, section.section--even {
                    padding: 2em 0;
                }

                .page-id-2897 .cover .typed-headline {
                    margin-bottom: 0em;
                }
            }

            /* top bar */
            .nav-container a,
            .nav-container i {
                color: #3f3f3e;
                text-decoration: none;
            }

            /* intagrations */
            .masonry .product span:nth-child(2) {
                display: none;
            }

            /* modals */
            .all-page-modals .modal-content {
                width: 99% !important;
                /*height: 99%!important;*/
                max-height: 99% !important;
            }

                .all-page-modals .modal-content .container {
                    width: 100% !important;
                    padding: 20px 0 !important;
                }

                .all-page-modals .modal-content .imageblock .background-image-holder {
                    background-position: center bottom !important;
                    z-index: -1;
                    opacity: 0.4 !important;
                }

                .all-page-modals .modal-content .imageblock__content {
                    background-color: #000;
                }

            .modal-text-image {
                position: absolute;
                bottom: 60px;
                left: 60px;
            }

                .modal-text-image h3,
                .modal-text-image p {
                    color: #fff;
                }

                .modal-text-image h3 {
                    font-size: 2.2em;
                }

                .modal-text-image p.t-feature {
                    margin-bottom: 0;
                    margin-left: -12px;
                    font-size: 1.3em;
                    font-weight: bold;
                }

                .modal-text-image p.t-feature-comment {
                    color: #f2f2f2;
                    font-size: 0.9em;
                }

                .modal-text-image p.t-feature .green {
                    color: #8caf4f;
                }

            .modal-container .modal-content > .modal-close-cross {
                top: 2em;
                right: 2em;
                background: #222;
                width: 2em;
                height: 2em;
                text-align: center;
                border-radius: 50%;
                color: #fff;
            }

            .all-page-modals .modal-content .col-md-4 {
                padding: 50px 40px;
            }

            /*#input_9_15_6_container input {
                background: url("/site/uploads/2018/08/user.png");
                background-repeat: no-repeat;
                background-color: #fff;
                background-position: 95% 50%;
            }*/

            .all-page-modals .modal-content h2,
            .all-page-modals .modal-content p {
                margin-bottom: 8px;
            }

            .all-page-modals #gform_wrapper_9 .gfield,
            .all-page-modals #gform_wrapper_9 .ginput_complex input {
                padding: 0;
                margin: 0;
            }

            .all-page-modals #gform_wrapper_9 .gform_body input {
                padding: 25px !important;
                z-index: -99999999;
                border: 2px solid #d1d1d1;
            }

            .all-page-modals #gform_wrapper_9 .gform_footer input.button {
                width: 100%;
                height: 60px;
                border: 3px solid #8caf4f;
            }

            .all-page-modals #gform_wrapper_9 .validation_error {
                display: none;
            }

            .all-page-modals #gform_wrapper_9 img.gform_ajax_spinner {
                display: none !important;
            }

            .all-page-modals #gform_wrapper_9 li.gfield.gfield_error, .all-page-modals #gform_wrapper_9 li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
                background: none !important;
                border: none !important;
                margin: 0 !important;
            }

                .all-page-modals #gform_wrapper_9 li.gfield.gfield_error input, .all-page-modals #gform_wrapper_9 li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning input {
                    border: 2px solid #c23616 !important;
                }

            /* home */
            .home .feature.feature-3 {
                min-height: 320px;
                padding: 1.5em 1em 1em;
            }

            /* about us */
            .process-1:before {
                background: #309ddc;
            }

            .process__item:after {
                border: 2px solid #309ddc;
            }

            /* footer */
            .mobile-footer-cta {
                position: fixed;
                padding: 12px 0px;
                width: 100%;
                bottom: 0;
                background: #fff;
                -webkit-box-shadow: 0px -1px 37px -7px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px -1px 37px -7px rgba(0,0,0,0.75);
                box-shadow: 0px -1px 37px -7px rgba(0,0,0,0.75);
                z-index: 999999;
            }

                .mobile-footer-cta .cta-col {
                    display: block;
                    float: left;
                    width: 50%;
                    text-align: center;
                    font-size: 0.8em;
                    background: #fff;
                }

                .mobile-footer-cta a.cta-video-link {
                    color: #999;
                    text-decoration: none;
                    margin-top: 14px;
                    display: block;
                    text-transform: uppercase;
                }

                    .mobile-footer-cta a.cta-video-link i {
                        font-weight: 900;
                        margin-right: 4px;
                    }

                .mobile-footer-cta a.btn {
                    padding: 14px 22px;
                }

            /* hide on specific pages */
            .page-id-2674 .mobile-footer-cta,
            .page-id-2897 .mobile-footer-cta,
            .page-id-108 .mobile-footer-cta {
                display: none;
            }

            /* responsive */
            @@media (min-width: 600px) {

                .mobile-footer-cta {
                    display: none;
                }
            }

            @@media (min-width: 650px) {


                .all-page-modals #input_9_15_3_container {
                    padding-right: 0;
                }

                .all-page-modals #input_9_15_6_container {
                    padding-right: 0;
                    margin-left: -14px;
                }

                    .all-page-modals #input_9_15_6_container input {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        border-left-width: 1px !important;
                    }
            }

            @@media (max-width: 989px) {
                /*.all-page-modals .imageblock,   .all-page-modals .imageblock__content {
                    min-height: 28em;
                    display:none;
              }

                .modal-text-image h3 {
                  font-size: 1.6em;
              }

              .modal-text-image {
                  bottom: 20px;
                  left: 20px;
              }*/
                .all-page-modals .imageblock__content {
                    display: none;
                }

                #input_9_15_3_container {
                    margin-bottom: 11px;
                }

                #input_9_15_6_container {
                    margin-bottom: -1px;
                }
            }

            @@media (max-width: 600px) {
                .gform_wrapper {
                    padding: 10px;
                }
            }

            .post-2797 {
                clear: both;
            }

            .post-2793 {
                clear: both;
            }

            .post-2789 {
                clear: both;
            }

            .imageblock .cf7-holder {
                display: none;
            }

            .gform_wrapper label.gfield_label {
                font-weight: 400;
            }

            .gform_wrapper .gsection .gfield_label, .gform_wrapper h2.gsection_title, .gform_wrapper h3.gform_title {
                font-weight: 400;
            }

            .btn:hover {
                transform: translate3d(0, -2px, 0);
                -webkit-transform: translate3d(0, 0px, 0);
            }

            .wp-image-532 {
                height: 100.33px;
            }

            .label--inline {
                vertical-align: middle;
                line-height: inherit;
            }
        </style>
    </environment>
</head>
<body>
    <!--*******************
    Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
    Preloader end
    ********************-->
    <div class="nav-container">


        <section class="bar bar-3 bar--sm bg--secondary header--top-bar" id="start">
            <div class="container">
                <div class="row">



                    <div class="col-md-6 text-left text-left-xs text-left-sm">
                        <div class="bar__module">
                            <ul class="menu-horizontal">

                                <li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50">
                                    <!-- <a href="about-us/index.html">About Us</a> -->
                                    <a target="_blank" href="https://www.futurefield.sa">About Us</a>
                                </li>
                                <li id="menu-item-53" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-53">
                                    <a target="_blank" href="https://support.poscosmic.com/index.html">Help Desk</a>
                                    <!-- <a target="_blank" href="https://support.cosmic.com/hc/en-us">Knowledge Base</a> -->
                                </li>
                                <li id="menu-item-105" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-105">
                                    <a target="_blank" href="https://login.poscosmic.com">Customer Login</a>

                                </li>

                                @*<li id="menu-item-2296" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2296">

                                        <a href="#">العربية</a>
                                    </li>*@








                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="bar__module">
                            <span class="top-bar-blurb">
                                <b>
                                    <i class="icon-Smartphone-3"> </i> <a href="tel:+966539424421" id="Riyadh">KSA: +966 53 9424421 </a>
                                    |

                                    <a href="tel:+924235166678" id="Pak">ENG: +44 79 84636070 </a>
                                    |
                                    <i class="icon-Envelope"></i> <a href="mailto:sales@poscosmic.com ">sales@poscosmic.com </a>
                                </b>
                            </span>
                        </div>
                    </div>
                </div><!--end of row-->
            </div><!--end of container-->
        </section><!--end bar-->
        @*<div class="bar bar--sm visible-xs original--bg bar--mobile-sticky" data-scroll-class="200px:pos-fixed">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-8 col-sm-10">

                            <a href="index.html" class="logo-holder">
                                <img class="logo logo-dark" alt="cosmic Logo" src="~/site/images/cosmic-logo1.png" />
                                <img class="logo logo-light" alt="cosmic Logo" src="~/site/images/cosmic-logo1.png" />

                            </a>
                        </div>
                        <div class="col-xs-4 col-sm-2 text-right mobile-header">
                            <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
                                <i class="icon--sm stack-interface stack-menu"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>*@



    </div>
<!--**********************************
Main wrapper start
***********************************-->
@{
    AlertModel alertModel = TempData.Get<AlertModel>("Alert");
}
@if (alertModel != null)
{
    @Html.Partial("~/Views/Shared/_AlertView.cshtml", alertModel)
}
    <div class="main-container">


        @*<partial name="_CookieConsentPartial" />*@
       


        @RenderBody()


        <footer class="site-footer">

            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-md-1 col-xs-6">
                        <div id="media_image-2" class="widget widget_media_image sidebar__element">
                            <img width="300" height="101" src=".//site/images/logo-white.png" class="image wp-image-28  attachment-medium size-medium" alt="" style="max-width: 100%; height: auto;" srcset=".//site/images/logo-white.png 300w, .//site/images/logo-white.png 462w" sizes="(max-width: 300px) 100vw, 300px" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-3">
                        <h6>About</h6>
                        <p class="text-justify"><b>Cosmic</b> is smart and reliable and can be used by all through its cloud technology. Manage stocks, schedule staff, increase table turnaround time, get intelligence reports, and much more.</p>
                    </div>
                    <div class="col-xs-6 col-md-3 col-md-offset-1 ">
                        <h6>Quick Links</h6>
                        <ul class="footer-links">
                            <li><a href="https://www.futurefield.sa" target="_blank">About Us</a></li>
                            <li><a href="https://support.poscosmic.com/index.html" target="_blank">Help Desk</a></li>
                            <li><a href="https://login.poscosmic.com" target="_blank">Customer Login</a></li>
                            <li><a href="@Url.Action("demo","Home")" target="_blank">Request A Demo</a></li>

                        </ul>
                    </div>

                    <div class="col-xs-6 col-md-5">
                        <h6>Contact Us</h6>
                        <div class="row">

                            <div class="col-md-6">
                                <h5 class="text-left mb-0 fs-16" style="margin-bottom:0 !important">
                                    <b class="color--white">Saudi Arabia</b>
                                </h5>
                                <p style="color:#ffffff;" class="fs-12">Post Office Box 11237, Dammam 31453, Saudi Arabia </p>
                                <p style="color:#ffffff;" class="fs-12">Phone: +966 53 9424421<br>Email: info@futurefield.sa</p>
                            </div>
                            <div class="col-md-6">
                               









                                <h5 class="text-left fs-16" style="margin-bottom:0 !important">
                                    <b class="color--white">England</b>
                                </h5>
                                <p style="color:#ffffff;" class="fs-12">118-120 Queensway London,W2 6LT, England</p>
                                <p style="color:#ffffff;" class="fs-12">Phone: +44 79 84636070<br>Email: info@futurefield.sa</p>
                            </div>
                        </div>

















                  

                    </div>
                    @*<div class="col-xs-6 col-md-3">
                        <h6>Contact Us</h6>
                        <h6>Saudia</h6>
                        <ul class="footer-links">
                            <li><b>PAK-TEL : </b><a href=""> +92 42 35166678</a></li>
                            <li><b>KSA-TEL : </b><a href=""> +966 53 9424421</a></li>
                            <li><b>EMAIL : </b><a href="mailto:sales@poscosmic.com "> sales@poscosmic.com</a></li>
        
                        </ul>


                    </div>*@


                </div>
                <hr>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <p class="copyright-text">
                            Copyright &copy; 2019 All Rights Reserved by
                            <a href="https://www.futurefield.sa/">Future Field</a>.
                        </p>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <ul class="social-icons">
                            <li><a class="facebook" href="https://www.facebook.com/cosmic/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter" href="https://twitter.com/cosmic" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="dribbble" href="https://www.instagram.com/cosmic/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <li><a class="linkedin" href="https://www.linkedin.com/in/cosmic-pos-2a686a17a/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li><a class="youtube" href="https://www.youtube.com/channel/UC5NCYo0grdk_174M4TnLgjw" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        @*<footer class="footer-6 unpad--bottom bg--dark">*@
        @*<div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 col-xs-12">
                        <div id="media_image-2" class="widget widget_media_image sidebar__element">
                            <img width="300" height="101" src=".//site/images/logo-white.png" class="image wp-image-28  attachment-medium size-medium" alt="" style="max-width: 100%; height: auto;" srcset=".//site/images/logo-white.png 300w, .//site/images/logo-white.png 462w" sizes="(max-width: 300px) 100vw, 300px" />
                        </div>
                    </div>
                <div class="col-sm-6 col-md-3 col-xs-12">
                        <div id="nav_menu-2" class="widget widget_nav_menu sidebar__element">
                            <h6 class="type--uppercase">Take a Tour</h6><div class="menu-take-a-tour-container">
                                <ul id="menu-take-a-tour" class="menu">
                                    <li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-59">
                                        <a href="product-tour/index.html">Product Tour</a>
                                    </li>
                                    <li id="menu-item-629" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-629"><a href="#">Business Types</a></li>
                                    <li id="menu-item-408" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-408"><a href="#">Food Truck</a></li>
                                    <li id="menu-item-409" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-409"><a href="#">Quick Service Restaurant</a></li>
                                    <li id="menu-item-410" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-410"><a href="#">Coffee Shop</a></li>
                                    <li id="menu-item-411" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-411"><a href="#">Pizzeria</a></li>
                                    <li id="menu-item-412" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-412"><a href="#">Bakery</a></li>
                                    <li id="menu-item-413" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-413"><a href="#">Drive-Thru</a></li>
                                    <li id="menu-item-414" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-414"><a href="#">Fine-Dine Restaurant</a></li>
                                    <li id="menu-item-415" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-415"><a href="#">Food Court</a></li>
                                    <li id="menu-item-416" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-416"><a href="#">Franchise and Food Chain</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><div class="col-sm-6 col-md-3 col-xs-12">
                        <div id="nav_menu-3" class="widget widget_nav_menu sidebar__element">
                            <h6 class="type--uppercase">About</h6><div class="menu-about-container">
                                <ul id="menu-about" class="menu">
                                    <li id="menu-item-69" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-69"><a href="about-us/index.html">About Us</a></li>
                                    <li id="menu-item-1464" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1464"><a href="#">Contact</a></li>
                                    <li id="menu-item-417" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-417"><a href="#">Blog</a></li>
                                    <li id="menu-item-72" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-72"><a href="#">FAQs</a></li>
                                    <li id="menu-item-625" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-625"><a href="#">Value Added Resellers</a></li>
                                    <li id="menu-item-626" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-626"><a href="#">Referral Partners</a></li>
                                    <li id="menu-item-627" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-627"><a href="#">Integration Partners</a></li>
                                    <li id="menu-item-967" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-967"><a href="#">Privacy Policy</a></li>

                                </ul>
                            </div>
                        </div>
                    </div><div class="clear"></div>
                </div>
            </div>*@
        <!--end of container-->
        <!-- <div class="footer__lower text-center-xs"> -->
        <!-- <div class="container"> -->
        <!-- <div class="row"> -->
        <!-- <div class="col-sm-6"> -->
        <!-- <div class="footer-stack-copyright"> -->
        <!-- © Copyright 2018 - cosmic | A division of ALWANS</div>				</div> -->
        <!-- <div class="col-sm-6 text-right text-center-xs"> -->
        <!-- <ul class="social-list list-inline list--hover stack-footer-social"> -->
        <!-- <li> -->
        <!-- <a href="https://www.facebook.com/cosmic/" title="cosmic Facebook Page" target="_blank"> -->
        <!-- <i class="socicon icon--xs socicon-facebook"></i> -->
        <!-- </a> -->
        <!-- </li><li> -->
        <!-- <a href="https://twitter.com/cosmic" title="cosmic Twitter Page" target="_blank"> -->
        <!-- <i class="socicon icon--xs socicon-twitter"></i> -->
        <!-- </a> -->
        <!-- </li><li> -->
        <!-- <a href="https://www.instagram.com/cosmic/" title="cosmic Instagram Page" target="_blank"> -->
        <!-- <i class="socicon icon--xs socicon-instagram"></i> -->
        <!-- </a> -->
        <!-- </li></ul>				</div> -->
        <!-- </div> -->
        <!-- </div> -->
        <!-- </div> -->
        @*</footer>*@



    </div>
    <!--**********************************
    Main wrapper end
    ***********************************-->

    <a class="back-to-top inner-link" title="Back to top" href="#start" data-scroll-class="100vh:active">
        <i class="stack-interface stack-up-open-big"></i>
    </a>
  
    <environment include="Development">
        <script type='text/javascript' src='/site-includes/js/jquery/jqueryb8ff.js?ver=1.12.4'></script>
        <script type='text/javascript' src='/site-includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1'></script>

        <script type='text/javascript' src='/site-includes/js/wp-embed.min5010.js?ver=4.9.8'></script>
        <script type='text/javascript' src='/site/plugins/gravityforms/js/jquery.json.min9254.js?ver=2.3.6'></script>
        <script type='text/javascript' src='/site/plugins/gravityforms/js/gravityforms.min9254.js?ver=2.3.6'></script>
        <script type='text/javascript' src='/site/themes/stack/style/js/parallaxb3e8.js?ver=0.1'></script>
        <script type='text/javascript' src='/site/themes/stack/style/js/scripts_wpb3e8.js?ver=0.1'></script>
        <script type='text/javascript' src='/site/themes/stack/style/js/scriptsb3e8.js?ver=0.1'></script>
        <script type='text/javascript' src='/site/plugins/gravityforms/js/placeholders.jquery.min9254.js?ver=2.3.6'></script>
        <script src="/site/plugins/layered-popups/js/adsdfde.js?ver=6.42"></script>
     

    </environment>
    <environment exclude="Development">
        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>*@
        <script type='text/javascript' src='/site-includes/js/jquery/jqueryb8ff.js?ver=1.12.4'></script>
        <script type='text/javascript' src='/site-includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1'></script>
        <script type='text/javascript' src='/site-includes/js/wp-embed.min5010.js?ver=4.9.8'></script>
        <script type='text/javascript' src='/site/plugins/gravityforms/js/jquery.json.min9254.js?ver=2.3.6'></script>
        <script type='text/javascript' src='/site/plugins/gravityforms/js/gravityforms.min9254.js?ver=2.3.6'></script>
        <script type='text/javascript' src='/site/themes/stack/style/js/parallaxb3e8.js?ver=0.1'></script>
        <script type='text/javascript' src='/site/themes/stack/style/js/scripts_wpb3e8.js?ver=0.1'></script>
        <script type='text/javascript' src='/site/themes/stack/style/js/scriptsb3e8.js?ver=0.1'></script>
        <script type='text/javascript' src='/site/plugins/gravityforms/js/placeholders.jquery.min9254.js?ver=2.3.6'></script>
        <script src="/site/plugins/layered-popups/js/adsdfde.js?ver=6.42"></script>
    
    </environment>

    @RenderSection("Scripts", required: false)
    @section Scripts{
        <script type='text/javascript'>jQuery(document).ready(function ($) { gformInitSpinner(4, '/site/plugins/gravityforms/images/spinner.gif'); jQuery('#gform_ajax_frame_4').on('load', function () { var contents = jQuery(this).contents().find('*').html(); var is_postback = contents.indexOf('GF_AJAX_POSTBACK') >= 0; if (!is_postback) { return; } var form_content = jQuery(this).contents().find('#gform_wrapper_4'); var is_confirmation = jQuery(this).contents().find('#gform_confirmation_wrapper_4').length > 0; var is_redirect = contents.indexOf('gformRedirect(){') >= 0; var is_form = form_content.length > 0 && !is_redirect && !is_confirmation; if (is_form) { jQuery('#gform_wrapper_4').html(form_content.html()); if (form_content.hasClass('gform_validation_error')) { jQuery('#gform_wrapper_4').addClass('gform_validation_error'); } else { jQuery('#gform_wrapper_4').removeClass('gform_validation_error'); } setTimeout(function () { /* delay the scroll by 50 milliseconds to fix a bug in chrome */ jQuery(document).scrollTop(jQuery('#gform_wrapper_4').offset().top); }, 50); if (window['gformInitDatepicker']) { gformInitDatepicker(); } if (window['gformInitPriceFields']) { gformInitPriceFields(); } var current_page = jQuery('#gform_source_page_number_4').val(); gformInitSpinner(4, '/site/plugins/gravityforms/images/spinner.gif'); jQuery(document).trigger('gform_page_loaded', [4, current_page]); window['gf_submitting_4'] = false; } else if (!is_redirect) { var confirmation_content = jQuery(this).contents().find('.GF_AJAX_POSTBACK').html(); if (!confirmation_content) { confirmation_content = contents; } setTimeout(function () { jQuery('#gform_wrapper_4').replaceWith(confirmation_content); jQuery(document).scrollTop(jQuery('#gf_4').offset().top); jQuery(document).trigger('gform_confirmation_loaded', [4]); window['gf_submitting_4'] = false; }, 50); } else { jQuery('#gform_4').append(contents); if (window['gformRedirect']) { gformRedirect(); } } jQuery(document).trigger('gform_post_render', [4, current_page]); }); });</script>
        <script type="text/javascript">


            jQuery(document).ready(function ($) {


                $('.modal-opener').click(function () {
                    $('.mobile-footer-cta:visible').hide();
                    $('.zbx-trigger').hide();
                    $('.ztb-tab-container').hide();

                    if ($(window).width() < 990) {
                        $('html,body').css('overflow', 'hidden');
                        $('html,body').css('height', '100%');
                        $('html,body').css('position', 'fixed');
                        $('html').css('-webkit-overflow-scrolling', 'touch');
                        $('#gform_fields_7 input').css('font-size', '16px');
                    }

                });

                $('body').on('click', '.modal-close-cross', function () {
                    if ($(window).width() < 600) {
                        $('.mobile-footer-cta:hidden').show();
                    }
                    $('.zbx-trigger').show();
                    $('.ztb-tab-container').show();

                    if ($(window).width() < 990) {
                        $('html,body').removeAttr('style');
                    }

                });

            });

        </script>
   
    }
</body>
</html>
