﻿@using PosCloudAdminPanel.Core.Model
@model PosCloudAdminPanel.Core.Model.AlertModel

@if (Model != null)
{
    <div class="alert alert-dismissible @Model.CSSClass">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>@Model.Heading</strong> @Model.Message
    </div>
}

