﻿@using PosCloudAdminPanel.Core.Model
@using PosCloudAdminPanel.Extensions
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PosCloudAdminPanel</title>

    <environment include="Development">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
        @*<link rel="stylesheet" href="~/css/site.css" />*@
        <link href="~/css/style.css" rel="stylesheet">
        <link href="~/css/MyStyle.css" rel="stylesheet">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link href="~/css/style.css" rel="stylesheet">
        <link href="~/css/MyStyle.css" rel="stylesheet">
    </environment>
</head>
<body >
    <!--*******************
    Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
<!--*******************
Preloader end
********************-->
@if (!SignInManager.IsSignedIn(User))
{
    <!--**********************************
    Main wrapper start
    ***********************************-->
    <div id="main-wrapper" class="bg">
        @if (SignInManager.IsSignedIn(User))
        {
            <partial name="_header"/>
            <partial name="_navbar"/>
        }
        <partial name="_CookieConsentPartial"/>

        <div class="content-body">
            <div class="container-fluid">
                @{
                    AlertModel alertModel = TempData.Get<AlertModel>("Alert");
                }
                @if (alertModel != null)
                {
                    @Html.Partial("~/Views/Shared/_AlertView.cshtml", alertModel)
                }
                @RenderBody()
            </div>
        </div>
        @if (SignInManager.IsSignedIn(User))
        {
            <hr/>
            <partial name="_footer"/>
        }
    </div>
    <!--**********************************
    Main wrapper end
    ***********************************-->
                    }
else
{
    <div id="main-wrapper">
        @if (SignInManager.IsSignedIn(User))
        {
            <partial name="_header"/>
            <partial name="_navbar"/>
        }
        <partial name="_CookieConsentPartial"/>

        <div class="content-body" >
            <div class="container-fluid">
                @{
                    AlertModel alertModel = TempData.Get<AlertModel>("Alert");
                }
                @if (alertModel != null)
                {
                    @Html.Partial("~/Views/Shared/_AlertView.cshtml", alertModel)
                }
                @RenderBody()
            </div>
        </div>
        @if (SignInManager.IsSignedIn(User))
        {
            <hr/>
            <partial name="_footer"/>
        }
    </div>
}
    <environment include="Development">
        @*<script src="~/lib/jquery/dist/jquery.js"></script>*@
        @*<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
        <script src="~/assets/plugins/common/common.min.js"></script>
        <script src="~/js/custom.min.js"></script>
        <script src="~/js/settings.js"></script>
        <script src="~/js/gleek.js"></script>
        <script src="~/js/styleSwitcher.js"></script>

        <script src="~/assets/plugins/raphael/raphael.min.js"></script>
        <script src="~/assets/plugins/morris/morris.min.js"></script>
        @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/assets/plugins/common/common.min.js"></script>
        <script src="~/js/custom.min.js"></script>
        <script src="~/js/settings.js"></script>
        <script src="~/js/gleek.js"></script>
        <script src="~/js/styleSwitcher.js"></script>

        <script src="~/assets/plugins/raphael/raphael.min.js"></script>
        <script src="~/assets/plugins/morris/morris.min.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
