﻿@using Microsoft.AspNetCore.Identity
@using PosCloudAdminPanel.Core.Model

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!--**********************************
Sidebar start
***********************************-->
@if (SignInManager.IsSignedIn(User))
{
    <div class="nk-sidebar">
        <div class="nk-nav-scroll">
            <ul class="metismenu " id="menu">
                <li class="mega-menu mega-menu-lg">
                    <a href="@Url.Action("Index", "Home")">
                        <i class="mdi mdi-view-dashboard" href="javascript:void()"></i><span class="nav-text">Dashboard</span>
                    </a>

                </li>
                <li class="">
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false"><i class="mdi mdi-account-group"></i><span class="nav-text">Clients</span></a>
                    <ul aria-expanded="false">
                        <li>
                            <a href="@Url.Action("AddClient", "Client")"><span class="glyphicon glyphicon-plus"></span> Add Client</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ClientList", "Client")"><span class="glyphicon glyphicon-list"></span> Client List</a>
                        </li>
                        <li>
                            <a href="@Url.Action("AddClientAppKey", "ClientAppKeys")"><span class="glyphicon glyphicon-plus"></span> Add Client App Key</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ClientAppKeyList", "ClientAppKeys")"><span class="glyphicon glyphicon-list"></span> Client App Key List</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false"><i class="mdi mdi-clipboard-text"></i> <span class="nav-text">Complaints</span></a>
                    <ul aria-expanded="false">
                        @*<li>
                            <a href="@Url.Action("AddComplaint", "Complaint")"><span class="glyphicon glyphicon-plus"></span> Add Complaint</a>
                        </li>*@
                        <li>
                            <a href="@Url.Action("ComplaintList", "Complaint")"><span class="glyphicon glyphicon-list"></span> Complaint List</a>
                        </li>
                        @*<li>
                            <a href="@Url.Action("AddComplaintReply", "Complaint")"><span class="glyphicon glyphicon-plus"></span> Add Complaint Reply</a>
                        </li>*@
                    </ul>
                </li>
                <li class="">
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false"><i class="mdi mdi-widgets"></i><span class="nav-text">Products</span></a>
                    <ul aria-expanded="false">
                        <li>
                            <a href="@Url.Action("AddProduct", "Product")"><span class="glyphicon glyphicon-plus"></span> Add Product</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ProductList", "Product")"><span class="glyphicon glyphicon-list"></span> Product List</a>
                        </li>


                    </ul>
                </li>
                <li class="">
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false"><i class="mdi mdi-gift"></i><span class="nav-text">Packages</span></a>
                    <ul aria-expanded="false">
                        <li>
                            <a href="@Url.Action("AddPackage", "Package")"><span class="glyphicon glyphicon-plus"></span> Add Package</a>
                        </li>
                        <li>
                            <a href="@Url.Action("PackageList", "Package")"><span class="glyphicon glyphicon-list"></span> Package List</a>
                        </li>
                        <li>
                            <a href="@Url.Action("AddPackageProduct", "Package")"><span class="glyphicon glyphicon-plus"></span> Add Package Product</a>
                        </li>
                        <li>
                            <a href="@Url.Action("PackageProductList", "Package")"><span class="glyphicon glyphicon-list"></span> Package Product List</a>
                        </li>

                    </ul>
                </li>
                <li class="">
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false"><i class="mdi mdi-chart-line-stacked"></i><span class="nav-text">Orders</span></a>
                    <ul aria-expanded="false">
                        <li>
                            <a href="@Url.Action("AddOrder", "Order")"><span class="glyphicon glyphicon-plus"></span> Add Order</a>
                        </li>
                        <li>
                            <a href="@Url.Action("OrderList", "Order")"><span class="glyphicon glyphicon-list"></span> Order List</a>
                        </li>
                       

                    </ul>
                </li>
                <li>

                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})" method="post" id="logoutForm" class="navbar-right hello">

                        <a href="#" onclick="$('#logoutForm').submit();"><i class="mdi mdi-logout"></i><span class="nav-text">Log Out</span></a>
                    </form>

                </li>

            </ul>
        </div>
    </div>
}
<!--**********************************
    Sidebar end
***********************************-->
