
@import url('../stack/style.css');

/* general */
.color--primary {
  color: #309ddc!important;
}

a,
a:hover {
  color: #309ddc;
}

.btn--primary,
.btn--primary:visited {
	background: #309ddc;
	border-color: #309ddc;
}

.masonry__filters ul li.active,
.masonry-filter-holder:not(.masonry-filters--horizontal) .masonry__filters ul li:hover {
    color: #309ddc!important;
}

body .gform_wrapper .gform_footer input[type=submit] {
	background-color: #309ddc;
	padding: 10px 25px;
}

.btn.btn--primary {
	background-color: #309ddc;
  border-color: #309ddc;
}

.tabs-container .active {
	color: #309ddc !important;
}

.tabs li.active .tab__title,
.tabs li.active .tab__title p {
  color: #309ddc;
}

.label:not([class*="bg--"]) {
  background: #309ddc;
}

.back-to-top {
  display: none!important;
}

/* gravity form */
body .gform_wrapper .gform_footer input[type=submit] {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 50px!important;
}

/* home */
.home .cover,
.home .slider {
  max-height: 600px;
}

/* top bar */
.nav-container a,
.nav-container i {
	color: #3f3f3e;
	text-decoration: none;
}

/* header */
.bar .logo {
  margin-top: -5px;
  max-height: 2.85714286em;
}

.bar__module .dropdown__content {
  border-radius: 0!important;
}

#menu1 .btn {
  background-color: #309ddc;
  border-color: #309ddc;
}

.menu-flag {
	max-width: 25px;
}

.menu-flag a {
	opacity: 1!important;
}

.header--top-bar .dropdown .dropdown__trigger {
	opacity: .5!important;
}

/* product tour */
.triptych.border--round img:nth-child(2) {
  border-radius: 17px;
}

/* features */
#features-nav {
  z-index: 99;
  text-align: center;
}


#features-nav.is_stuck {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align:center;
  position: absolute;
  width: 100%!important;
  left: 0;
  top: 0;
}

.page-id-34 .smooth-scroll {
  background-color: #f2f2f2;
  font-weight: 300;
  text-decoration: none;
  padding: 8px 20px;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  margin: 0px 4px 10px;
  display: inline-block;
}

.page-id-34 .main-container section {
  margin-top: 40px;
}

.page-id-34 section:nth-child(2) {
  padding-bottom: 0;
}

/* case studies */
.page-id-35 .imageblock {
  border-top: 1px solid #f2f2f2;
}

/* partners */
.page-id-106 .masonry-filter-container {
	display: none;
}

/* careers */
.post-type-archive-career .main-container section:nth-child(2) {
  display: none;
}

.single-career .main-container section:nth-child(2) {
  padding-top: 100px!important;
  background-color: #f5f5f5;
}

/* footer */
.footer-6 #media_image-2 img {
  width: 140px;
}
