﻿@model PosCloudAdminPanel.Core.ViewModel.ComplaintViewModel

@{
    ViewData["Title"] = "AddComplaint";
}

<h2>AddComplaint</h2>

<h4>ComplaintViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddComplaint">
            <input asp-for="ComplaintId" type="hidden" />
            <input asp-for="UserId" type="hidden" />
            <input asp-for="ParentComplaintId" type="hidden" />
            <input asp-for="CreatedBy" type="hidden" />
            <input asp-for="CreatedOn" type="hidden" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" required="true" placeholder="Enter Subject"  />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" required="true" placeholder="Enter Complaint"  />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComplaintStatus" class="control-label"></label>
                <input asp-for="ComplaintStatus" class="form-control" />
                <span asp-validation-for="ComplaintStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComplaintType" class="control-label"></label>
                <input asp-for="ComplaintType" class="form-control" />
                <span asp-validation-for="ComplaintType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" required="true" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsReply"required="flase" /> @Html.DisplayNameFor(model => model.IsReply)
                    </label>
                </div>
            </div>

            <div class="form-group  col-lg-12 ">
                <div style="text-align: center">

                    <input type="submit" value="Create" class="btn btn-primary" />
                    <input type="reset" value="Clear" class="btn btn-warning" />

                    <a href="@Url.Action("ComplaintList", "Complaint")">
                        <input type="button" value="Back" class="btn btn-default" />

                    </a>
                </div>
            </div>
        </form>
    </div>
</div>



