﻿@using PosCloudAdminPanel.Core.Model
@model IEnumerable<PosCloudAdminPanel.Core.ViewModel.ComplaintViewModel>
@{
    ViewData["Title"] = "ComplaintList";
}


<h2 class="text-center font-weight-bold">Complaint List</h2>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
            
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">User</th>
                            <th class="text-center">Complaint Id</th>
                            <th class="text-center">Complaint Type</th>
                            <th class="text-center">Status</th>
                            <th class="text-center"></th>
                        </tr>
                        @{ int i = 1;}
                        @foreach (var client in Model)
                        {
                            <tr>
                                <td class="text-center">@(i++)</td>
                                <td class="text-center">@client.User</td>
                                <td class="text-center">@client.ComplaintId</td>
                                <td class="text-center">@client.ComplaintType</td>
                                <td class="text-center">@client.ComplaintStatus</td>
                                <td class="text-center">


                                    @*<a href="@Url.Action("ViewComplaint", "Complaint"," @client.ComplaintId")" class="btn btn-warning btn--small"> View Complaint</a>*@


                                    <a asp-action="ViewComplaint" asp-route-id="@client.ComplaintId" class="btn btn-warning btn--small" asp-route-foo="bar"><span class="fa fa-eye"></span> View</a>
                                </td>



                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



