﻿@using Newtonsoft.Json
@model PosCloudAdminPanel.Core.ViewModel.ClientViewModel

@{
    ViewData["Title"] = "AddClient";
}

<link rel="stylesheet" href="~/assets/plugins/dropify/dist/css/dropify.min.css">
<hr />
@{ string action = ViewBag.edit;}






<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div style="background-color: transparent">
            <div class="card-body">
                <h1 class="link-Red text-center">Add Client</h1>
                <div class="basic-form col-lg-offset-2">
                    <form asp-action="@action" enctype="multipart/form-data">
                        <input asp-for="CompanyLogo" type="hidden" />
                        <input asp-for="CreatedBy" type="hidden" />
                        <input asp-for="CreatedOn" type="hidden" />
                        <input asp-for="ClientId" type="hidden" />

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="form-group col-lg-5">

                                <label asp-for="FirstName" class="control-label"></label>
                                <input asp-for="FirstName" class="form-control" required="true" placeholder="Enter First Name" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-5">

                                <label asp-for="LastName" class="control-label"></label>
                                <input asp-for="LastName" class="form-control" required="true" placeholder="Enter Last Name" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>

                        </div>

                        <div class="row">
                            <div class="form-group col-lg-5">

                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" required="true" placeholder="Example@abc.com" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-5">

                                <label asp-for="PostalCode" class="control-label"></label>
                                <input asp-for="PostalCode" class="form-control" required="true" placeholder="00000" />
                                <span asp-validation-for="PostalCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-5">

                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" class="form-control" required="true" placeholder="Enter Password(xxxxxx)" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-5">

                                <label asp-for="ConfirmPassword" class="control-label"></label>
                                <input asp-for="ConfirmPassword" class="form-control" required="true" placeholder="Confirm Password" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                        </div>

                        <div class="row">
                            <div class="form-group col-lg-5">

                                <label asp-for="Address" class="control-label"></label>
                                <input asp-for="Address" class="form-control" required="true" placeholder="Enter Address" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-5">

                                <label asp-for="PrimaryContact" class="control-label"></label>
                                <input asp-for="PrimaryContact" class="form-control" required="true" placeholder="050xxxxxxx" />
                                <span asp-validation-for="PrimaryContact" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-5">

                                <label asp-for="SecondaryContact" class="control-label"></label>
                                <input asp-for="SecondaryContact" class="form-control" required="true" placeholder="050xxxxxxx" />
                                <span asp-validation-for="SecondaryContact" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-5">
                                <label asp-for="City" class="control-label"></label>
                                <input asp-for="City" class="form-control" required="true" placeholder="Enter City" />
                                <span asp-validation-for="City" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-5">

                                <label asp-for="State" class="control-label"></label>
                                <input asp-for="State" class="form-control" required="true" placeholder="Enter State" />
                                <span asp-validation-for="State" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-5">
                                <label asp-for="Country" class="control-label"></label>
                                <input asp-for="Country" class="form-control" required="true" placeholder="Enter Country" />
                                <span asp-validation-for="Country" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-5">

                                <label asp-for="CompanyName" class="control-label"></label>
                                <input asp-for="CompanyName" class="form-control" required="true" placeholder="Enter Company Name" aria-required="true" />
                                <span asp-validation-for="CompanyName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-5">
                                <label asp-for="CompanyEmail" class="control-label"></label>
                                <input asp-for="CompanyEmail" class="form-control" required="true" placeholder="Example@abc.com" aria-required="true" />
                                <span asp-validation-for="CompanyEmail" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-5">

                                <label asp-for="CompanyAddress" class="control-label"></label>
                                <input asp-for="CompanyAddress" class="form-control" required="true" placeholder="Enter Company Address" />
                                <span asp-validation-for="CompanyAddress" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-5">
                                <label asp-for="CompanyContact" class="control-label"></label>
                                <input asp-for="CompanyContact" class="form-control" required="true" placeholder="050xxxxxxx" />
                                <span asp-validation-for="CompanyContact" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-5">

                                <label asp-for="CompanyState" class="control-label"></label>
                                <input asp-for="CompanyState" class="form-control" required="true" placeholder="Enter Company State" />
                                <span asp-validation-for="CompanyState" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-5">
                                <label asp-for="CompanyCountry" class="control-label"></label>
                                <input asp-for="CompanyCountry" class="form-control" required="true" placeholder="Enter Company Country" />
                                <span asp-validation-for="CompanyCountry" class="text-danger"></span>

                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group col-lg-5">

                                <label asp-for="CompanyNtn" class="control-label"></label>
                                <input asp-for="CompanyNtn" class="form-control" required="true" placeholder="Enter Company NTN No." />
                                <span asp-validation-for="CompanyNtn" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-5">
                                <label asp-for="CompanyRegistrationNumber" class="control-label"></label>
                                <input asp-for="CompanyRegistrationNumber" class="form-control" required="true" placeholder="Enter Company Registration Number" />
                                <span asp-validation-for="CompanyRegistrationNumber" class="text-danger"></span>

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-lg-5">

                                <label asp-for="CompanyCity" class="control-label"></label>
                                <input asp-for="CompanyCity" class="form-control" required="true" placeholder="Enter Company Country" />
                                <span asp-validation-for="CompanyCity" class="text-danger"></span>

                            </div>
                            <div class="form-group col-lg-5">
                                <label asp-for="FaxNo" class="control-label"></label>
                                <input asp-for="FaxNo" class="form-control" required="true" placeholder="050xxxxxxx" />
                                <span asp-validation-for="FaxNo" class="text-danger"></span>

                            </div>
                        </div>
                    <div class="row">
                        <div class="form-group col-lg-5">

                            <label asp-for="Currency" class="control-label"></label>
                            <input asp-for="Currency" class="form-control" required="true" placeholder="Enter Currency" />
                            <span asp-validation-for="Currency" class="text-danger"></span>

                        </div>
                        <div class="form-group col-lg-5">
                            <label asp-for="BusinessStartTime" class="control-label"></label>
                            <input asp-for="BusinessStartTime" type="time" class="form-control" required="true" />
                            <span asp-validation-for="BusinessStartTime" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-5">
                            <label asp-for="PackageId" class="control-label"></label>
                            <select asp-for="PackageId" class="form-control" required="true">
                                <option value="" disabled="" selected=""> Select a Package</option>
                                @foreach (var opt in Model.PackageDdl)
                                {
                                    <option value="@opt.Value">@opt.Text</option>
                                }
                            </select>
                            <span asp-validation-for="PackageId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-5">

                            <label asp-for="CompanyLogo" class="control-label"></label>
                            <div class="dropify-default">

                                <input type="file" class="dropify" asp-for="ImageUpload" required="true"/>
                                <span asp-validation-for="ImageUpload" class="text-danger"></span>
                            </div>

                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-lg-5">

                            <label asp-for="VatNumber" class="control-label"></label>
                            <input asp-for="VatNumber" class="form-control" required="true" placeholder="Enter Vat Number" />
                            <span asp-validation-for="VatNumber" class="text-danger"></span>

                        </div>
                      
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="IsOperational" /> @Html.DisplayNameFor(model => model.IsOperational)
                            </label>
                        </div>
                    </div>
                        <br />
                        <div class="form-group  col-lg-10 text-center">
                            <div class="">

                                <input type="submit" value="Create" class="btn btn-primary" />
                                <input type="reset" value="Clear" class="btn btn-warning" />

                                <a href="@Url.Action("ClientList", "Client")">
                                    <input type="button" value="Back" class="btn btn-default" />

                                </a>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>


@section Scripts
{
    <script src="~/assets/plugins/dropify/dist/js/dropify.min.js"></script>
    <script src="~/js/plugins-init/dropify-init.js"></script>
  
}
