﻿@using PosCloudAdminPanel.Core.Model
@model IEnumerable<PosCloudAdminPanel.Core.ViewModel.ClientViewModel>

@{
    ViewData["Title"] = "ClientList";
}

<h2 class="text-center font-weight-bold">Client List</h2>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <a href="@Url.Action("AddClient", "Client")" style="flex-grow: 0.2">
                    <button type="button" class="btn btn-danger btn-sm "><i class="fa fa-plus pr-sm"></i> Add Client</button>

                </a>
                <div class="table-responsive">
                    <table class="table " width="100%">
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">Name</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Package</th>
                            <th class="text-center">Primary Contact</th>
                            <th class="text-center">Company Name</th>
                            <th class="text-center">Company Email</th>
                            <th class="text-center">Company Contact</th>
                            <th class="text-center">Company Address</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        @{ int i = 1;}
                        @foreach (var client in Model)
                        {
                            <tr>
                                <td class="text-center">@(i++)</td>
                                <td class="text-center">@client.FirstName@client.LastName</td>
                                <td class="text-center">@client.Email</td>
                                <td class="text-center">@client.PackageName</td>
                                <td class="text-center">@client.PrimaryContact</td>
                                <td class="text-center">@client.CompanyName</td>
                                <td class="text-center">@client.CompanyEmail</td>
                                <td class="text-center">@client.CompanyContact</td>
                                <td class="text-center">@client.CompanyAddress</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        @Html.ActionLink(" ", "UpdateClient", "Client", new { id = @client.ClientId }, new { @class = "btn btn-default text-success btn-xs glyphicon glyphicon-edit  ", data_toggle = "tooltip", title = "Edit !" })
                                        @Html.ActionLink(" ", "AddClientData", "Client", new { id = @client.ClientId }, new { @class = "btn btn-default text-success btn-xs glyphicon glyphicon-upload  ", data_toggle = "tooltip", title = "Add to cloud !" })
                                        @if (client.IsActive)
                                        {
                                            @Html.ActionLink(" ", "DeActivateClient", "Client", new { id = @client.ClientId }, new { @class = "btn btn-warning btn-xs glyphicon glyphicon-remove  ", data_toggle = "tooltip", title = "Deactivate !" })
                                        }
                                        else
                                        {
                                            @Html.ActionLink(" ", "ActivateClient", "Client", new { id = @client.ClientId }, new { @class = "btn btn-success btn-xs glyphicon glyphicon-ok  ", data_toggle = "tooltip", title = "Activate !" })
                                        }
                                    </div>
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

