﻿@model PosCloudAdminPanel.Core.ViewModel.RequestDemo
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml">
<head>
    <!--[if gte mso 9]><xml><o:OfficeDocumentSettings><o:AllowPNG/><o:PixelsPerInch>96</o:PixelsPerInch></o:OfficeDocumentSettings></xml><![endif]-->
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width" name="viewport" />
    <!--[if !mso]><!-->
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <!--<![endif]-->
    <title></title>
    <!--[if !mso]><!-->
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet" type="text/css" />
    <!--<![endif]-->
    <style type="text/css">

        body {
            margin: 0;
            padding: 0;
        }

        table,
        td,
        tr {
            vertical-align: top;
            border-collapse: collapse;
        }

        * {
            line-height: inherit;
        }

        a[x-apple-data-detectors=true] {
            color: inherit !important;
            text-decoration: none !important;
        }

        .ie-browser table {
            table-layout: fixed;
        }

        [owa] .img-container div,
        [owa] .img-container button {
            display: block !important;
        }

        [owa] .fullwidth button {
            width: 100% !important;
        }

        [owa] .block-grid .col {
            display: table-cell;
            float: none !important;
            vertical-align: top;
        }

        .ie-browser .block-grid,
        .ie-browser .num12,
        [owa] .num12,
        [owa] .block-grid {
            width: 650px !important;
        }

        .ie-browser .mixed-two-up .num4,
        [owa] .mixed-two-up .num4 {
            width: 216px !important;
        }

        .ie-browser .mixed-two-up .num8,
        [owa] .mixed-two-up .num8 {
            width: 432px !important;
        }

        .ie-browser .block-grid.two-up .col,
        [owa] .block-grid.two-up .col {
            width: 324px !important;
        }

        .ie-browser .block-grid.three-up .col,
        [owa] .block-grid.three-up .col {
            width: 324px !important;
        }

        .ie-browser .block-grid.four-up .col [owa] .block-grid.four-up .col {
            width: 162px !important;
        }

        .ie-browser .block-grid.five-up .col [owa] .block-grid.five-up .col {
            width: 130px !important;
        }

        .ie-browser .block-grid.six-up .col,
        [owa] .block-grid.six-up .col {
            width: 108px !important;
        }

        .ie-browser .block-grid.seven-up .col,
        [owa] .block-grid.seven-up .col {
            width: 92px !important;
        }

        .ie-browser .block-grid.eight-up .col,
        [owa] .block-grid.eight-up .col {
            width: 81px !important;
        }

        .ie-browser .block-grid.nine-up .col,
        [owa] .block-grid.nine-up .col {
            width: 72px !important;
        }

        .ie-browser .block-grid.ten-up .col,
        [owa] .block-grid.ten-up .col {
            width: 60px !important;
        }

        .ie-browser .block-grid.eleven-up .col,
        [owa] .block-grid.eleven-up .col {
            width: 54px !important;
        }

        .ie-browser .block-grid.twelve-up .col,
        [owa] .block-grid.twelve-up .col {
            width: 50px !important;
        }
    </style>

</head>
<body class="clean-body" style="margin: 0; padding: 0; -webkit-text-size-adjust: 100%; background-color: #E8E8E8;">

    <table bgcolor="#E8E8E8" cellpadding="0" cellspacing="0" class="nl-container" role="presentation" style="table-layout: fixed; vertical-align: top; min-width: 320px; Margin: 0 auto; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #E8E8E8; width: 100%;" valign="top" width="100%">
        <tbody>
            <tr style="vertical-align: top;" valign="top">
                <td style="word-break: break-word; vertical-align: top; border-collapse: collapse;" valign="top">

                    <div style="background-color:#363636;">
                        <div class="block-grid two-up no-stack" style="Margin: 0 auto; min-width: 320px; max-width: 650px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;;">
                            <div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
                                <div class="col num6" style="min-width: 320px; max-width: 325px; display: table-cell; vertical-align: top;;">
                                    <div style="width:100% !important;">
                                        <div style="border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 15px; padding-left: 15px;">
                                            <div align="left" class="img-container left fixedwidth" style="padding-right: 25px;padding-left: 0px;">
                                                <div style="font-size:1px;line-height:25px"> </div><img alt="logo" border="0" class="left fixedwidth" src="https://poscosmic.com/site/images/cosmic-logo1.png" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; clear: both; border: 0; height: 100%; float: none; width: 100%; max-width: 151px; display: block;" title="Image" width="65" />
                                                <div style="font-size:1px;line-height:25px"> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               

                            </div>
                        </div>
                    </div>
                    <div style="background-image:url('images/bg_hero_1.gif');background-position:top center;background-repeat:no-repeat;background-color:transparent;">
                        <div class="block-grid" style="Margin: 0 auto; min-width: 320px; max-width: 650px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;;">
                            <div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
                                <div class="col num12" style="min-width: 320px; max-width: 650px; display: table-cell; vertical-align: top;;">
                                    <div style="width:100% !important;">
                                        <div style="border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:60px; padding-bottom:60px; padding-right: 0px; padding-left: 0px;">
                                            <div style="color:#00a3e6;font-family:'calibri';line-height:120%;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;">
                                                <div style="font-size: 12px; line-height: 14px; font-family: 'calibri'; color: #00a3e6;">
                                                    <p style="font-size: 14px; line-height: 30px; margin: 0;"><span style="font-size: 14px;"><b>@Model.First @Model.Last Requested Demo</b></span></p>
                                                </div>
                                            </div>
                                            <div style="color:#555555;font-family:'calibri';line-height:150%;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;">
                                                <div style="font-size: 12px; line-height: 10px; color: #555555; font-family: 'calibri';">
                                                    <p style="font-size: 12px; line-height: 15px; margin: 0;">
                                                        <span style="font-size: 12px;">
                                                            <strong><b>Email Address:</b> @Model.Email</strong>
                                                        </span>
                                                        
                                                      
                                                        
                                                    </p>
                                                </div>
                                            </div>
                                            <div style="color:#555555;font-family:'calibri';line-height:150%;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;">
                                                <div style="font-size: 12px; line-height: 10px; color: #555555; font-family: 'calibri';">
                                                    <p style="font-size: 12px; line-height: 15px; margin: 0;">
                                                        <span style="font-size: 12px;">
                                                            <strong><b>First Name:</b> @Model.First</strong>
                                                        </span>
                                                        
                                                      
                                                        
                                                    </p>
                                                </div>
                                            </div>
                                            <div style="color:#555555;font-family:'calibri';line-height:150%;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;">
                                                <div style="font-size: 12px; line-height: 10px; color: #555555; font-family: 'calibri';">
                                                    <p style="font-size: 12px; line-height: 15px; margin: 0;">

                                                        <span style="font-size: 12px;">
                                                            <strong><b>Last Name:</b> @Model.Last</strong>
                                                        </span>



                                                    </p>
                                                </div>
                                            </div>
                                            <div style="color:#555555;font-family:'calibri';line-height:150%;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;">
                                                <div style="font-size: 12px; line-height: 10px; color: #555555; font-family: 'calibri';">
                                                    <p style="font-size: 12px; line-height: 15px; margin: 0;">

                                                        <span style="font-size: 12px;">
                                                            <strong><b>Organization Name:</b> @Model.Org</strong>
                                                        </span>



                                                    </p>
                                                </div>
                                            </div>
                                            <div style="color:#555555;font-family:'calibri';line-height:150%;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;">
                                                <div style="font-size: 12px; line-height: 10px; color: #555555; font-family: 'calibri';">
                                                    <p style="font-size: 12px; line-height: 15px; margin: 0;">

                                                        <span style="font-size: 12px;">
                                                            <strong><b>Office Number:</b> @Model.Home</strong>
                                                        </span>



                                                    </p>
                                                </div>
                                            </div>
                                            <div style="color:#555555;font-family:'calibri';line-height:150%;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;">
                                                <div style="font-size: 12px; line-height: 10px; color: #555555; font-family: 'calibri';">
                                                    <p style="font-size: 12px; line-height: 15px; margin: 0;">

                                                        <span style="font-size: 12px;">
                                                            <strong><b>Personal Number:</b> @Model.Cell</strong>
                                                        </span>



                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                
                    
                    

                    
                    <div style="background-color:#555555;">
                        <div class="block-grid" style="Margin: 0 auto; min-width: 320px; max-width: 650px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;;">
                            <div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
                                <div class="col num12" style="min-width: 320px; max-width: 650px; display: table-cell; vertical-align: top;;">
                                    <div style="width:100% !important;">
                                        <div style="border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:30px; padding-bottom:20px; padding-right: 0px; padding-left: 0px;">
                                            <div style="color:#FFFFFF;font-family:'Droid Serif', Georgia, Times, 'Times New Roman', serif;line-height:120%;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;">
                                                <div style="font-size: 12px; line-height: 14px; color: #FFFFFF; font-family: 'calibri'">
                                                    <p style="font-size: 14px; line-height: 16px; text-align: center; margin: 0;"><b>Email:</b> <span style="color: skyblue">sales@poscosmic.com</span>   PAK: +92 42 35166678 | KSA: +966 53 9424421</p>
                                                    <p style="font-size: 14px; line-height: 16px; text-align: center; margin: 0;"> Copyright © 2019 PosCosmic, All rights reserved.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>






