﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>SignUp</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    </script>
    <link rel="icon" href="wp-content/uploads/2018/06/cosmicfavi.png" sizes="32x32" />
    <!--===============================================================================================-->
    <link rel='stylesheet' id='bootstrap-css' href='wp-content/themes/stack/style/css/bootstrapb3e8.css?ver=0.1' type='text/css' media='all' />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="wp-content/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="wp-content/vendor/animate/animate.css">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="wp-content/css/util.css">
    <link rel="stylesheet" type="text/css" href="wp-content/css/login.css">
    <!--===============================================================================================-->
</head>
<body>


    <!-- color code green linear-gradient(300deg, #DCE35B , #45B649)      color code red
    #8e0e00
    →
    #1f1c18-->
    <!-- <img class="logo logo-dark" alt="cosmic Logo" src="wp-content/images/cosmic-logo1.png" style="position: absolute; -->
    <!-- top: 10%; -->
    <!-- left: 20%;" /> -->

    <div class="limiter">

        <div class="container-signup100">

            <div class="wrap-signup100">

                <h3 class="login100-form-title">Sign Up</h3>

                <form class="validate-form">


                    <div class="row">

                        <div class="col-md-6">
                            <div class="wrap-input100 validate-input" data-validate="First Name is required">
                                <input class="input100" type="text" name="first" placeholder="First Name">
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="wrap-input100 validate-input" data-validate="Last Name is required">
                                <input class="input100" type="text" name="last" placeholder="Last Name">
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>


                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="wrap-input100 validate-input" data-validate="Organization is required">
                                <input class="input100" type="text" name="org" placeholder="Organization">
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
                                    <i class="fa fa-building" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                                <input class="input100" type="text" name="email" placeholder="Email">
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="wrap-input100 validate-input" data-validate="Work Phone No. is required">
                                <input class="input100" type="number" name="work" placeholder="Work Phone">
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="wrap-input100 validate-input" data-validate="Home Phone is required">
                                <input class="input100" type="number" name="home" placeholder="Home Phone">
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="wrap-input100 validate-input" data-validate="Cell Phone is required">
                                <input class="input100" type="number" name="cell" placeholder="Cell Phone">
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
                                    <i class="fa fa-mobile" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="wrap-input100 validate-input" data-validate="Fax No. is required">
                                <input class="input100" type="text" name="fax" placeholder="Fax No.">
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
                                    <i class="fa fa-fax" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="wrap-input100 validate-input" data-validate="Address 1 is required">
                                <input class="input100" type="text" name="address1" placeholder="Address 1">
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="wrap-input100 validate-input" data-validate="Address 2 is required">
                                <input class="input100" type="text" name="address2" placeholder="Address 2">
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="wrap-input100 validate-input" data-validate="City is required">
                                <input class="input100" type="text" name="city" placeholder="City">
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">

                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="wrap-input100 validate-input" data-validate="State/Province is required">
                                <input class="input100" type="text" name="state" placeholder="State/Province">
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">

                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="wrap-input100 validate-input" data-validate="Zip/Postal Code is required">
                                <input class="input100" type="text" name="zip" placeholder="Zip/Postal Code.">
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">

                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="wrap-input100 validate-input" data-validate="Country is required">
                                <input class="input100" type="text" name="country" placeholder="Country">
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">

                                </span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="wrap-input100 validate-input" data-validate="Captcha is required">


                                <input id="skip_CaptchaCode" class="input100" placeholder="Enter Captcha" name="skip_CaptchaCode" type="text" maxlength="6" />
                                <br />

                                <span class="focus-input100"></span>
                                <span class="symbol-input100">

                                </span>
                            </div>
                        </div>
                        <div class="col-md-6">


                            <a href="http://www.snaphost.com/captcha/CaptchaNewswriter.aspx">
                                <img id="CaptchaImage" alt="newsletter subscription form" title="newsletter subscription form"
                                     style="margin-left:20px;margin-top:5px; border:1px solid #999999"
                                     src="https://www.SnapHost.com/captcha/CaptchaImage.aspx?id=586S9LY47SL9&ImgType=2" />
                            </a>
                        </div>







                    </div>





                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>



                    <div class="text-center p-t-40">
                        <a class="txt2" href="login.html">
                            Already have a account? Login
                            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                        </a>
                    </div>
                </form>
            </div>

        </div>
    </div>




    <!--===============================================================================================-->
    <script src="wp-content/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="wp-content/vendor/bootstrap/js/popper.js"></script>

    <script src="wp-content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->

    <script src="wp-content/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
		$('.js-tilt').tilt({
			scale: 1.1
		})
    </script>
    <!--===============================================================================================-->
    <script src="wp-content/js/main.js"></script>

</body>
</html>
