﻿@model PosCloudAdminPanel.Core.ViewModel.ClientAppKeyViewModel

@{
    ViewData["Title"] = "AddClientAppKey";
}

@{ string action = ViewBag.edit;}

<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="card forms-card">
            <div class="card-body">
                <h1 class="link-Red text-center">Add Client AppKey</h1>
                <div class="basic-form">
                    <form asp-action="@action">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            @*<label asp-for="AppKey" class="control-label"></label>*@
                            <input asp-for="AppKey" class="form-control" type="hidden" />
                            <span asp-validation-for="AppKey" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ClientId" class="control-label"></label>
                            <select asp-for="ClientId" class="form-control">
                                <option value="" disabled="" selected=""> Select a Client</option>
                                @foreach (var opt in Model.ClientDdl)
                                {
                                    <option value="@opt.Value">@opt.Text</option>
                                }
                            </select>
                            <span asp-validation-for="ClientId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="IMEI" class="control-label"></label>
                            <input asp-for="IMEI" class="form-control" required="true" />
                            <span asp-validation-for="IMEI" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input asp-for="IsUsed" /> @Html.DisplayNameFor(model => model.IsUsed)
                                </label>
                            </div>
                        </div>
                        <div class="form-group  col-lg-12 ">
                            <div style="text-align: center">

                                <input type="submit" value="Create" class="btn btn-primary" />
                                <input type="reset" value="Clear" class="btn btn-warning" />

                                <a href="@Url.Action("ClientAppKeyList", "ClientAppKeys")">
                                    <input type="button" value="Back" class="btn btn-default" />

                                </a>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

