﻿
@model IEnumerable<PosCloudAdminPanel.Core.ViewModel.ClientAppKeyViewModel>

@{
    ViewData["Title"] = "ClientAppKeyList";
}

<h2 class="text-center font-weight-bold">Client App key List</h2>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <a href="@Url.Action("AddClientAppKey", "ClientAppKeys")" style="flex-grow: 0.2">
                    <button type="button" class="btn btn-danger btn-sm "><i class="fa fa-plus pr-sm"></i> Add Client App key</button>

                </a>
                <div class="table-responsive">
                    <table class="table " width="100%">
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">Client</th>
                            <th class="text-center">IEMI No.</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        @{ int i = 1;}
                        @foreach (var client in Model)
                        {
                            <tr>
                                <td class="text-center">@(i++)</td>
                                <td class="text-center">@client.ClientName</td>
                                <td class="text-center">@client.IMEI</td>
                                <td class="text-center">

                                    @Html.ActionLink(" ", "UpdateClientAppKey", "ClientAppKeys", new { id = @client.ClientId }, new { @class = "btn btn-default text-success btn-xs glyphicon glyphicon-edit  ", data_toggle = "tooltip", title = "Edit !" })


                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>












