﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

<div class="login-bg2 h-100">
    <div class="container-fluid h-100">
        <div class="row justify-content-end h-100">
            
            <div class="col-xl-4 p-0">
                <div class="form-input-content login-form bg-transparent">
                    <div class="card BGColor">
                        <div class="card-body">
                            <div class="logo text-center">
                                <a href="index.html">
                                    <img src="~/images/logo W-03-03-03.png" alt="">
                                </a>
                            </div>
                            <h4 class="text-center mt-4">Log into Your Account</h4>
                            <section>
                                
                                            <form method="post">

                                                <div asp-validation-summary="All" class="text-danger"></div>
                                                <div class="form-group">
                                                    <label asp-for="Input.Email"></label>
                                                    <input asp-for="Input.Email" class="form-control" />
                                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Input.Password"></label>
                                                    <input asp-for="Input.Password" class="form-control" />
                                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <div class="checkbox">
                                                        <label asp-for="Input.RememberMe">
                                                            <input asp-for="Input.RememberMe" />
                                                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group text-center">
                                                    <button type="submit" class="btn btn-default">Log in</button>
                                                </div>
                                                
                                            </form>
                                          
                                        
                                    
                                
                            </section>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
        