﻿@model PosCloudAdminPanel.Core.Model.Order
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css" />
    <title>GenerateInvoice</title>
    <style>
        .container {
            padding: 50px;
        }
    </style>
</head>

<body>

    <div class="container" id="DivIdToPrint">
        <div class="row">
            <div class="col-xs-6">
                <img src="~/images/logo W-03-03-03.png" />
            </div>
            <div class="col-xs-6">
                <div class="text-right font-weight-bold">
                    <p>PosCosmic</p>
                    <p>POBOX 29998</p>
                    <p>Ann Arbor, MI 4825 USA</p>
                    <p>+45812546</p>
                    <p>112584586</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3 class="font-weight-bold">Invoice #@Model.Id.ToString("D4")</h3>
                <p>Invoice Date: @Model.OrderDate.ToString("dd-MMM-yyyy")</p>
                <p>Due Date: @Model.OrderDate.AddDays(15).ToString("dd-MMM-yyyy")</p>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-12">
                <p class="font-weight-bold">Invoiced To</p>
                <p>@Model.Client.CompanyName</p>
                <p>@(Model.Client.FirstName + " " + Model.Client.LastName)</p>
                <p>@Model.Client.CompanyAddress</p>
                <p>@Model.Client.CompanyCountry</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center" width="90%">Description</th>
                            <th class="text-center">Total</th>
                        </tr>

                    </thead>

                    <tbody>
                        @foreach (var item in Model.OrderDetails)
                        {
                            <tr>
                                <td class="text-center">@(item.ProductName + " x " + item.Quantity + " Qty")</td>
                                <td class="text-center">@string.Format("{0:n0}", item.Price * item.Quantity) /-</td>

                            </tr>
                        }



                        <tr>
                            <th class="text-center" width="90%">SubTotal</th>
                            <td class="text-center">@string.Format("{0:n0}", Model.Price) / -</td>
                        </tr>
                        <tr>
                            <th class="text-center" width="90%">Discount</th>
                            <td class="text-center">@string.Format("{0:n0}", Model.Discount) / -</td>
                        </tr>
                        <tr>
                            <th class="text-center" width="90%">Total</th>
                            <td class="text-center">@string.Format("{0:n0}", Model.Price - Model.Discount)/-</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>

    </div>
<div class="row text-center">
    <div class="col-xs-12">
        @*<input type='button' id='btnP' class="btn btn-danger btn-sm " value="Print" onclick='printDiv();'>*@
        <button type='button' id='btnP' class="btn btn-danger btn-sm " value="Print" onclick='printDiv();'><i class="glyphicon glyphicon-print"></i> Print</button>
        <a href="@Url.Action("OrderList", "Order")" style="flex-grow: 0">
            <button type="button" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-list"></i> Sale Order List</button>

        </a>
    </div>
</div>

<script>
    function printDiv() {

        var divToPrint = document.getElementById('DivIdToPrint');

        var newWin = window.open('', 'Print-Window');

        newWin.document.open();


        newWin.document.write('<html>  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous"><link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css" /> ' +
            '<style>.container{padding: 50px;}</style><body onload="window.print() " width="1024">' + divToPrint.innerHTML + '</body></html>');

        newWin.document.close();

        setTimeout(function () { newWin.close(); }, 10);

    }
</script>

</body>

</html>

