﻿@using PosCloudAdminPanel.Core.Model
@model IEnumerable<PosCloudAdminPanel.Core.ViewModel.PackageViewModel>

@{
    ViewData["Title"] = "PackageList";
}

<h2 class="text-center font-weight-bold">Package List</h2>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <a href="@Url.Action("AddPackage", "Package")" style="flex-grow: 0.2">
                    <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-plus pr-sm"></i> Add Package</button>

                </a>
                <div class="table-responsive">
                    <table class="table " width="100%">
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">Name</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Discount</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        @{ int i = 1;}
                        @foreach (var package in Model)
                        {
                            <tr>
                                <td class="text-center">@(i++)</td>
                                <td class="text-center">@package.Name</td>
                                <td class="text-center">@package.Price</td>
                                <td class="text-center">@package.Discount</td>

                                <td class="text-center">
                                    <div class="btn-group">
                                        @Html.ActionLink(" ", "UpdatePackage", "Package", new { id = @package.Id }, new { @class = "btn btn-default text-success btn-xs glyphicon glyphicon-edit  ", data_toggle = "tooltip", title = "Edit !" })
                                        @Html.ActionLink(" ", "DeletePackage", "Package", new { id = @package.Id }, new { @class = "btn btn-danger text-white btn-xs glyphicon glyphicon-remove  ", data_toggle = "tooltip", title = "Delete !" })
                                        @if (package.IsActive)
                                        {
                                            @Html.ActionLink(" ", "DeActivatePackage", "Package", new { id = @package.Id }, new { @class = "btn btn-warning btn-xs glyphicon glyphicon-refresh  ", data_toggle = "tooltip", title = "Deactivate !" })
                                        }
                                        else
                                        {
                                            @Html.ActionLink(" ", "ActivatePackage", "Package", new { id = @package.Id }, new { @class = "btn btn-success btn-xs glyphicon glyphicon-ok  ", data_toggle = "tooltip", title = "Activate !" })
                                        }
                                    </div>
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
