﻿body, html {
    height: 100%;
}

.bg {
    
    background: url('../images/bg1_03.png') fixed center center no-repeat ;

    background-size: cover;
}
.BGColor{
    background-color: transparent;
    color: #000000;
    font-weight: bold;
     
}


.link-Red {
    color: #d1322e;
}
.hello a:hover {
    background-color: transparent !important; 
}
.BgGrad {
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(197, 197, 197));
}
.link-size {
    font-size: 25px;
    color: #d1322e;
}
